*{
  padding: 0;
  margin: 0;
}

body, html{
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC','微软雅黑'
}
/*mixin*/

.border-1px{
  position: relative;
}
.border-1px::after{
  width:100%;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid rgba(7,17,27,.1)
}

@media (-webkit-min-device-pixel-radio:1.5),(min-device-pixel-radio:1.5){
  .border-1px::after{
    transform:scaleY(0.7)
  }
}
@media (-webkit-min-device-pixel-radio:2),(min-device-pixel-radio:2){
  .border-1px::after{
    transform:scaleY(0.5)
  }
}
